image:
  repository: kadannr/golang-redis-app  # имя образа docker
  pullPolicy: IfNotPresent
  tag: "0.0.6"

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

service:
  name: golang-redis-app
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/auth-url: "https://oauth2-proxy-1074779.radost.ru/oauth2/auth"  # ← ИСПРАВЛЕНО
    nginx.ingress.kubernetes.io/auth-signin: "https://oauth2-proxy-1074779.radost.ru/oauth2/start?rd=https://$host$escaped_request_uri"  # ← ИСПРАВЛЕНО
  hosts:
    - host: golang-redis-app-1074779.radost.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: golang-redis-app-tls
      hosts:
        - golang-redis-app-1074779.radost.ru

redis:
  enabled: true
  master:
    persistence:
      enabled: true
      size: 1Gi
  replica:
    replicaCount: 0
    persistence:
      enabled: true
      size: 1Gi
  auth:
    enabled: false
  image:
    registry: docker.io
    repository: redis
    tag: 7-bookworm      # ⬅️ ИЗМЕНИЛ С 7-alpine
    pullPolicy: IfNotPresent
